<div style="padding: 20px 80px;">
  <h2> Users </h2>
    <table border="0" id="items">
      <thead>
        <tr>
          <th>Name</th>          
          <th>Email</th>          
        </tr>
      </thead>
      <tbody>
      <% for user in @users %>
        <tr>
          <td><%= link_to h("#{user.first_name} #{user.last_name}"), user %></td>
          <td><%= user.email %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>